* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
}

.primary-color {
    color: #E55473
}

/* styling the header section */
.banner-container {
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 150px;
    padding-right: 150px;

}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    width: 500px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.button-primary {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}

.button-primary:hover {
    cursor: pointer;
    box-shadow: 3px 5px 10px gray;
}

.banner-image {
    margin-top: 70px;
}

.banner-flower {
    width: 435px;
    height: 600px;
}

/* styling the main section */
.featured-text {
    margin-top: 50px;
    text-align: center;

}

.primary-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}

.primary-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.featured-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.featured-flower-1 {
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 40px 0px 40px;

}

.featured-images-caption {
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 700;
}

.featured-flower-2 {
    width: 310px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    align-items: center;
    padding: 95px 20px 50px 20px;
}

.featured-flower-3 {
    width: 254px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    align-items: baseline;
    padding: 70px 40px 0px 40px;
}

.featured-images-caption {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.services-container {
    margin: 100px 50px;
    border-radius: 8px;
    padding: 50px 100px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-1,
.service-2,
.service-3 {
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

.sale-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px 50px;
    margin: 100px 0px;
}

.sale-text {
    text-align: center;
}

.sale-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}

.sale-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 15px;
}

.social-container {
    padding: 0px 350px;
}

.social-text {
    text-align: center;
}

.social-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.social-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
}

.social-image {
    height: 300px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 50px 0px 50px 0px;
}

.deal-container {
    margin: 40px 140px;
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    text-align: center;
    padding: 120px 140px;
}

.deal-text {
    text-align: center;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
}

.deal-form {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.deal-email {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
}