*{
    margin: 0px;
    padding: 0px;
}
.banner-container{
    height: 100vh;
    display: flex;
    gap:200px;
    justify-content: space-around;
    align-items: center;
    padding: 0px 150px;
}
.banner-text{

}
.banner-image{
    height:auto;
}