*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
}
.banner-container{
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    gap:100px;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding-top: 0px; 
    padding-bottom: 0px;
    padding-left: 150px;
    padding-right: 150px;
    
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    width: 500px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;   
    line-height: 30px;
    padding-top: 25px;
    padding-bottom:25px ;
}
.button-primary{
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}
.button-primary:hover{
    cursor: pointer;
    box-shadow: 3px 5px 10px gray;
}
.banner-image{
    margin-top: 70px;
}
.banner-flower{
    width: 435px;
    height: 600px;
}